[MASTER]
extension-pkg-whitelist=tensorflow,keras
ignore-patterns=test_.*?py
max-attributes=7
disable=
    missing-docstring,
    too-many-arguments,
    too-few-public-methods,
    R0801,
    C0114,

[FORMAT]
max-line-length=100
indent-string='    '

[DESIGN]
max-locals=15
max-branches=12
max-statements=50

[LOGGING]
logging-format-style=new

[VARIABLES]
dummy-variables-rgx=_+$|^unused_

[MESSAGES CONTROL]
enable=all
